.result-page-container{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.result-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    width: 45rem;
}

.questions{
    display: flex;
    flex-direction: column;
}

.currectAns{
    background-color: rgb(56, 148, 56);
    width: 37rem;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.userSelectedAnswer{
    background-color: red;
    width: 37rem;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.quizz-score-answers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 37rem;
}