:root{
    --primary-color: #1a406b;
    --white-color : #fff;
    --black-color : black;
    --container-bg-color : #f2f2f2;
    --facebook-bg-color :  #3b5998;
    --twitter-bg-color :  #00acee;
    --linkedin-bg-color :  #0e76a8;
    --gray-bg-color : #ebebeb;
    --gray-bg-dark-color : #c4c4c4;
    --google-bg-color:#4285f4;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    background-color: var(--primary-color);
    height: 4rem;
    position: fixed;
    width: 100%;
}

.logo{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 600;
}


.links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.link{
    cursor: pointer;
    color: var(--white-color);
    text-decoration: none;
}

